rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() { return request.auth != null; }
    function isAdmin() {
      return signedIn() && request.auth.token.email == 'abdelrahmanatia167@gmail.com';
    }
    match /site/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin() && request.resource.size < 10 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
    }
    match /projects/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin() && request.resource.size < 15 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
    }
  }
}
